#btnTop{
  color: #ff4b4b;
  border: solid 1px #ff4b4b;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  cursor: pointer;
}

#btnTop:hover{
  transform: scale(1.2);
  background-color: #ff4b4b;
  color: #fff;
  transition: 0.3s;
}