*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    blue,
    red
  );
}

.clock{
  position: relative;
  transform: scale(20);
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 30px;
  color: #000;
}
.clock::after{
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 1px solid red;
  content: "";
  left: 14px;
  border-radius: 1px;
  top: 4px;
  animation-duration: 10s;
}
.clock::before{
  position: absolute;
  width: 0px;
  height: 10px;
  display: block;
  border-left: 1px solid blue;
  content: "";
  left: 14px;
  border-radius: 1px;
  top: 4px;
  animation-duration: 3s;
}
.clock::before,
.clock::after{
  transform-origin: bottom;
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}